@import "../../App";

.body-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: $base-white;
    
  .section-heading {
    font-size: $base-size-heading;
    margin-bottom: 10vmin;
    span{
      color: $base-blue;
    }
  }
  
  .absolute-border {
    position: absolute;
    border: 100px solid $ash-grey;
    width: 40vw;
    height: 70vh;
    margin-left: -200px;
  }
}
svg {
  height: 100px;
  width: 100px;
}
