@import "../../App";


$image-width: 200px;
$image-height: calc(200px*1.5);

.body-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: $base-white;
    
  .section-name {
    font-size: $base-size-heading;
    span{
      color: $base-blue;
    }
  }

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // z-index: 1;
  width: 100%;
  // min-height: 100vh;

   .about-image {
      width: $image-width;
      height: $image-height;
      position: relative;
      z-index: 1;
      background-size: contain;
      background-size: 100% 100%;
      background-position: center 0;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      opacity: 0.75;

  }
  .about-description {
    z-index: 1;
    position: relative;
    height: 50%;
    width: 30vmin;
    display: block;
    position: relative;
    margin-left: 1vmin;
    // transition: $hover-transition;
  }
}
    .about-background {
      position: absolute;
      // z-index: -1;
      // border: 10px solid $base-blue;
      background-color: $ash-grey;
      width: $image-width;
      height: $image-height;
      margin-left: 90px;
      margin-top: 50px;
    }
  }